.company__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-color, #383A4C);
}

.company__title {
  margin: 0 0 25px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}

.company__text {
  position: relative;
  margin: 0 0 35px;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

.company__text::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 80px;
}

.company__text::before {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 80px;
}

.company__text::after,
.company__text::before {
  width: 43px;
  height: 2px;
  background-color: #383A4C;
}

.company__desc {
  max-width: 724px;
  margin: 0 0 50px;
  font-size: 18px;
  text-align: center;
}

.company__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: var(--gap);
  counter-reset: count 0;
}

.company__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: calc(75% / var(--cart) - (var(--gap) * (var(--cart) - 1)) / var(--cart));
  padding: 122px 0 0 0;
}

.company__item::before {
  content: counter(count);
  position: absolute;
  top: 6px;
  width: 122px;
  height: 122px;
  padding: 32px 44px;
  border-radius: 100%;
  background-color: #23C7EC;
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  color: var(--white-color, #FFFFFF);
  counter-increment: count;
}


.company__list-text {
  padding: 20px 0 0 0;
  text-align: center;
  font-weight: 500;
  width: 196px;
}

@media (max-width: 1200px) {
  .company__title {
    margin: 0 0 23px;
    font-size: 32px;
  }

  .company__text {
    position: relative;
    margin: 0 0 32px;
    font-size: 20px;
  }

  .company__text::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 72px;
  }

  .company__text::before {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 75px;
  }

  .company__text::after,
  .company__text::before {
    width: 40px;
    height: 2px;
    background-color: #383A4C;
  }

  .company__desc {
    max-width: 666px;
    font-size: 16px;
    text-align: center;
  }

  .company__item {
    padding: 122px 0 0 0;
  }

  .company__item::before {
    top: 4px;
    width: 104px;
    height: 104px;
    padding: 22px 31px;
    font-size: 52px;
    font-weight: 500;
    line-height: 140.625%;
  }

  .company__list-text {
    padding: 19px 7px 0 0;
    font-size: 18px;
    width: 180px;
  }
}

@media (max-width: 650px) {
  .company__title {
    margin: 0 0 15px;
    font-size: 20px;
  }

  .company__text {
    margin: 0 0 30px;
    font-size: 16px;
  }

  .company__text::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 69px;
  }

  .company__text::before {
    content: "";
    position: absolute;
    bottom: 6px;
    right: 68px;
  }

  .company__text::after,
  .company__text::before {
    width: 19px;
    height: 1px;
    background-color: #383A4C;
  }

  .company__desc {
    margin: 0 0 40px;
    font-size: 12px;
    text-align: center;
  }


  .company__item::before {
    top: 0;
  }

  .company__list {
    gap: var(--gap);
  }

  .company__list-text {
    padding: 9px 1px 0 0;
  }
}