.header {
  position: relative;
  background-image: url("../img/Stag.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(47, 50, 75, 0.85);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 120px;
}



.header__content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 120px;
}

.header__title {
  max-width: 990px;
  margin: 0 0 32px;
  font-size: 52px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.86);
  line-height: normal;
}

.header__text {
  max-width: 960px;
  margin: 0 0 85px;
  font-size: 22px;
  line-height: 140.625%;
  color: rgba(255, 255, 255, 0.75);
}

.header__text-end {
  display: none;
}

@media (max-width: 1200px) {
  .header__nav {
    padding: 26px 0 70px;
  }

  .header__content {
    padding: 0 0 70px;
  }

  .header__title {
    max-width: 780px;
    margin: 0 0 27.57px;
    font-size: 40px;
  }

  .header__text {
    max-width: 754px;
    margin: 0 0 52px;
    font-size: 18px;
  }

  .header__button {
    padding: 11px 49px;
  }
}

@media (max-width: 650px) {
  .header {
    background-position: center left 14%;
  }

  .header__nav {
    padding: 15px 0 64px;
  }

  .header__content {
    padding: 0 0 65px;
  }

  .header__title {
    max-width: 290px;
    margin: 0 0 23px;
    font-size: 20px;
  }

  .header__text {
    max-width: 277px;
    height: 77px;
    margin: 0 0 55px;
    font-size: 14px;
    overflow: hidden;
  }

  .header__text-end {
    display: inline-block;
  }

  .header__button {
    padding: 9px 29px;
    font-size: 16px;
  }
}