.question {
  position: relative;
  background-image: url("../img/Manager.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  z-index: 1;
}

.question::before {
  content: "";
  position: absolute;
  background-color: rgba(47, 50, 75, 0.85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.question__title {
  margin: 0 0 17px;
  padding: 0 25px 0 0;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}

.question__text {
  margin: 0 0 50px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  color: rgba(255, 255, 255, 0.80);
}

.question__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin: 0 0 50px;
}

.question__form-input {
  width: 423px;
  padding: 9px 25px;
  background: rgba(47, 50, 75, 0.85);
  color: #FFFFFF;
  font-size: 22px;
  line-height: normal;
  border-radius: 50px;
  border: 1.382px solid #FFFFFF;
  opacity: .5;
}

.question__form-input::placeholder {
  color: rgba(255, 255, 255, 0.50);
}

.question__form-input:nth-child(3) {
  margin: 0 0 31px;
}

.question__form-submit {
  padding: 11px 38px;
  line-height: normal;
}

.question__desc {
  text-align: center;
}

.question__desc-line {
  color: #4A76A8;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .question {
    padding: 70px 0 56px;
  }

  .question__title {
    margin: 0 0 16px;
    padding: 0 10px 0 0;
    font-size: 32px;
  }

  .question__text {
    margin: 0 0 45px;
    padding: 0 0 0 17px;
    font-size: 20px;
  }

  .question__form {
    margin: 0 0 30px;
    gap: 15px;
  }

  .question__form-input {
    width: 377px;
    padding: 8px 23px;
    font-size: 20px;
    border: 2px solid #FFFFFF;
  }

  .question__form-input:nth-child(3) {
    margin: 0 0 33px;
  }

  .question__desc {
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  .question {
    padding: 30px 0;
  }

  .question__title {
    margin: 0 0 10px;
    padding: 5px 1px 0 0;
    font-size: 20px;
  }

  .question__text {
    margin: 0 0 35px;
    padding: 0 1px 0 0;
    font-size: 12px;
    white-space: nowrap;
  }

  .question__form {
    margin: 0 0 30px;
    gap: 12px;
  }

  .question__form-input {
    width: 290px;
    padding: 6px 18px;
    font-size: 14px;
    border: 1px solid #FFF;
  }

  .question__form-submit {
    padding: 10px 26px;
    font-size: 16px;
  }

  .question__desc {
    font-size: 11px;
  }
}